/* 
 * Tutorial : http://learnlayout.com/
 * http://learnlayout.com/position.html
 * Site web d'inspiration pour les coleurs du CSS :
 * http://tympanus.net/codrops/2011/12/08/25-examples-of-perfect-color-combinations-in-web-design/
 * */

/*
 * combainison de couleur: 
 *
    background-color: #E3DEC1; == gris
    background-color:#B94629; == orange "foncé"
    background-color:#E89F65; == bleu "pale" 
    background-color:#47AFAF; == orange claire

 */

@font-face {
       font-family: Alegreya-Bold;
       src: url(font/Alegreya-Bold.ttf);
}

li a {
    color: white;
}

body {
        background-color: #E3DEC1;
    } 

#main {
    width: 600px;
    margin: 100px auto 100px; 
    -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
                 box-sizing: border-box;
}

.public{
    width: 500px;
    margin: 20px auto;
    /*background-color: blue;
    border-width: 20px; */
    border-color: blue;
    border-style: solid;
    -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
                 box-sizing: border-box;
}

.private{
    width: 500px;
    margin: 20px auto;
    /* padding: 50px; */
    border-width: 20px;
    border-color: red;
    border-style: solid;
    -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
/*    background-color: black;
    border-color: green;
    border-style: solid;
    border-width: 10px;*/
    -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    height:70px;
    display: table;
}

.header_central {
/*    width:360px;*/
    height:50px;
    background-color:#B94629;
    display: table-cell;
}

.header_left, .header_right , .header_left_img {
    vertical-align: middle;
    min-height: 50em;
    height:50px;        
    display: table-cell;
    background-color:#47AFAF;
}

.header_left img {
    vertical-align: middle;
} 
.header_left ul li 
{
 /*       display:inline; */
        margin: 5px;
        display: inline-block;  /* TODO voir la difference entre inline et inline-block */
        vertical-align: middle; /* | top | bottom */
        font-family: Alegreya-Bold;
        font-size: 20px;
}

.header_right ul li 
{
 /*       display:inline; */
        horizontal-align: right; /* TODO aligner a droite */
        margin: 5px;
        display: inline-block;  /* TODO voir la difference entre inline et inline-block */
        vertical-align: middle; /* | top | bottom */
        font-family: Alegreya-Bold;
        font-size: 20px;
}



.header_right {
    background-color:#E89F65;

}
.header_left_img {
    width:70px;
    min-height: 50em;
    height:50px;        
    display: table-cell;
    background-color:#47AFAF;
}



.note{
    position: relative;
}
.note-priv{
    position: relative;
    top: -20px;
    left: -20;
}

    /* body {
    background: white url("images/grass4.png") no-repeat bottom left;
    } */

